<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixygj.myletter.mapper.LetterNumberEndwiseMapper">
    <insert id="insertLetterNumberEndwise" parameterType="com.ixygj.myletter.entity.LetterNumberEndwise">
        insert into letternumberendwise(
        endwise_numbers,endwise_times
        )
        values (
        #{endwiseNumbers,jdbcType=VARCHAR},
        #{endwiseTimes,jdbcType=INTEGER}
        )
    </insert>
</mapper>