<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixygj.myletter.mapper.LetterNumberSubMapper">
    <insert id="insertLetterNumberSub" parameterType="com.ixygj.myletter.entity.LetterNumberSub">
        insert into letternumbersub(
        sub_numbers,sub_times
        )
        values (
        #{subNumbers,jdbcType=VARCHAR},
        #{subTimes,jdbcType=INTEGER}
        )
    </insert>

    <insert id="insertForeachLetterNumberSub" parameterType="java.util.List">
        insert into letternumbersub(
        sub_numbers,sub_times
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.subNumbers,jdbcType=VARCHAR},
            #{item.subTimes,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>